<footer class="page-footer blue">
    <div class="container ">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Navigation</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#/accueil">Accueil</a></li>
            <li><a class="grey-text text-lighten-3" href="#/experience">Expérience</a></li>
            <li><a class="grey-text text-lighten-3" href="#/formation">Formation</a></li>
            <li><a class="grey-text text-lighten-3" href="#/social">Social</a></li>
            <li><a class="grey-text text-lighten-3" href="#/contact">Contact</a></li>
          </ul>        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Social</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://goo.gl/UlPaE8" target="_blank">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://goo.gl/6VUmpN" target="_blank">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="https://goo.gl/WsrCxY" target="_blank">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="https://goo.gl/lRkrz4" target="_blank">Tumblr</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      © 2016 Valérian Polizzi
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
