<div  id="" class="navbar-fixed animated grey lighten-4">
  <nav id="nav" hidden class=" blue navbar-fixed">
    <div class="nav-wrapper z-depth-2">
      <a href="#/" class="brand-logo center">Valérian Polizzi</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="#/accueil">Accueil</a></li>
    <li><a href="#/experience">Expérience</a></li>
    <li><a href="#/formation">Formation</a></li>
    <li><a href="#/social">Social</a></li>
    <li><a href="#/contact">Contact</a></li>


  </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/accueil">Accueil</a></li>
        <li><a href="#/experience">Expérience</a></li>
        <li><a href="#/formation">Formation</a></li>
        <li><a href="#/social">Social</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li class="divider"></li>
        <li><a class="grey-text" href="https://goo.gl/UlPaE8" target="_blank">LinkedIn</a></li>
        <li><a class="grey-text" href="https://goo.gl/6VUmpN" target="_blank">Twitter</a></li>
        <li><a class="grey-text" href="https://goo.gl/WsrCxY" target="_blank">Instagram</a></li>
        <li><a class="grey-text" href="https://goo.gl/lRkrz4" target="_blank">Tumblr</a></li>
        <li><a class="black-text disabled center">© Valérian Polizzi | 2016</a></li>
      </ul>
    </div>
  </nav>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script type="text/javascript">
$(".button-collapse").sideNav();

$("li a").click(function()
{
  $(".button-collapse").sideNav('hide');
});

</script>
