<div  class="s12 center-align margin-bottom section">
  <p class="flow-text">
    What <b>Valérian</b> learned  </p>
</div>

<div class="s12 z-depth-2 center-align margin-bottom">

  <div class="row">
    <div class="col s10 offset-s1">
      <h2 class="light left-align">Languages</h2>
      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/c.png" alt="C">
          <span>C</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/c++.png" alt="C++">
          <span>C++</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/php.png" alt="PHP">
          <span>PHP</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/HTML.png" alt="HTML">
          <span>HTML</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/css.png" alt="CSS">
          <span>CSS</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/javascript.png" alt="Javascript">
          <span>Javascript</span>
        </div>
      </div>
    </div>

    <div class="col s10 offset-s1">
      <hr>
      <h2 class="light left-align">Frameworks</h2>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/angular.png" alt="Angular">
          <span>Angular 4</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/materialize.png" alt="Materialize">
          <span>Materialize</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/bootstrap.png" alt="Bootstrap">
          <span>Bootstrap</span>
        </div>
      </div>
    </div>

    <div class="col s10 offset-s1">
      <hr>
      <h2 class="light left-align">Tools</h2>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/slack.png" alt="Slack">
          <span>Slack</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/git.png" alt="Git">
          <span>Git</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/jenkins.png" alt="Jenkins">
          <span>Jenkins</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/swagger.png" alt="Swagger">
          <span>Swagger</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/pivotal-tracker.svg" alt="Pivotal Tracker">
          <span>Pivotal Tracker</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/jira.png" alt="Jira">
          <span>Jira</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/kibana.png" alt="Kibana">
          <span>Kibana</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/docker.png" alt="Docker">
          <span>Docker</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/google_analytics.png" alt="Google Analytics">
          <span>Google Analytics</span>
        </div>
      </div>

    </div>

    <div class="col s10 offset-s1">
      <hr>
      <h2 class="light left-align">Data</h2>
      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/mysql.png" alt="mySQL">
          <span>mySQL</span>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="skill hoverable">
          <img src="assets/img/mongodb.png" alt="MongoDb">
          <span>MongoDb</span>
        </div>
      </div>
    </div>
  </div>
</div>
