<div id="about" class="s12 center-align margin-bottom section scrollspy">
  <p class="flow-text header">
    About <b>Valérian Polizzi</b>
  </p>
</div>

<div class="s12 grey lighten-3 z-depth-2 margin-bottom">
  <div class=" wiki">
    <div class="row">
      <div id="description-container" class="col s12 m6 desc">
        <h2 class="light flow-text"><b>Valérian Polizzi</b> (<a href="https://en.wikipedia.org/wiki/Help:IPA/English" target="_blank" title="Help:IPA/English">/vəˈlɪriːən/</a>, known as <i>Polyeezy</i> on social medias, born April 7, 1994)</h2>
        <img  src="/assets/img/valerian-polizzi.png" title="Valérian Polizzi" title="Valérian Polizzi" class="circle responsive-img center-align hoverable hide-on-med-and-up" alt="">

        <div class="valign-wrapper center-align">
          <p>
            is a developper. Born in
            <a href="https://goo.gl/maps/9qUJB5zHGwo" target="_blank">Cagnes-sur-Mer</a> and raised in <a href="https://goo.gl/maps/Vpt3a5ndg3s" title="Biot in Google Maps">Biot</a>. Valérian attended
            <a href="http://www.epitech.eu/" title="Epitech website" target="_blank">Epitech</a> Computer Software Engineering (2013) , a private institution of higher education in general computer science.
            Polyeezy completed his bachelor degree in Computer Software Engineering (2017) as he heading in <a href="https://goo.gl/maps/MFJnRc5D1Mu" title="Brussels in Google Maps" alt="Brussels in Google Maps">Brussels</a>, to pursue a program focusing on innovation and entrepreneurship.
          </p>
        </div>

        <div class="infos hide-on-med-and-down">
          <div class="row">
            <div class="col s4 label">Born</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">Valérian Jean Valentin Polizzi</div>
              <div class="chip blue white-text hoverable">7 April 1994 (age 23)</div>
              <div class="chip blue white-text hoverable">Cagnes-sur-mer, France</div>
            </div>
          </div>

          <div class="row">
            <div class="col s4 label">Résidence</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">Biot, France</div>
            </div>
          </div>

          <div class="row">
            <div class="col s4 label">Occupation</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">IT development</div>
              <div class="chip blue white-text hoverable">Freelancer</div>
            </div>
          </div>

          <div class="row">
            <div class="col s4 label">Hobbies</div>
            <div class="col s8 value"><div class="chip blue white-text hoverable">Music</div>
              <div class="chip blue white-text hoverable">Basketball</div>
              <div class="chip blue white-text hoverable">Photography</div>
              <div class="chip blue white-text hoverable">Legos</div>
            </div>
          </div>
        </div>
      </div>



      <div id="profile-img-container" class="col side s3 offset-s2 valign-wrapper">
        <div class="card">
          <div class="card-image">
            <img src="http://www.valerianpolizzi.fr/assets/img/valerian-polizzi.png">
          </div>
          <div class="card-content">
          </div>
          <div class="card-action center-align">
            <a class="center-align waves-effect red waves-light btn-large" href="https://goo.gl/MdZQru" target="_blank"><i class="material-icons right">file_download</i>Download CV (FR)</a>
          </div>
        </div>
      </div>

    </div>

    <div class="container infos show-on-medium-and-down hide-on-large-only">
      <div class="row">
        <div class="col s4 label">Born</div>
        <div class="col s8 value">
          <div class="chip blue white-text hoverable">Valérian Jean Valentin Polizzi</div>
          <div class="chip blue white-text hoverable">April 7 1994 (age 23)</div>
          <div class="chip blue white-text hoverable">Cagnes-sur-mer, FR</div>
        </div>

        <div class="row">
          <div class="col s4 label">Résidence</div>
          <div class="col s8 value">
            <div class="chip blue white-text hoverable">Biot, France</div>
          </div>
        </div>

        <div class="row">
          <div class="col s4 label">Occupation</div>
          <div class="col s8 value">
            <div class="chip blue white-text hoverable">IT development</div>
            <div class="chip blue white-text hoverable">Freelancer</div>
          </div>
        </div>

        <div class="row">
          <div class="col s4 label">Hobbies</div>
          <div class="col s8 value">
            <div class="chip blue white-text hoverable">Music</div>
            <div class="chip blue white-text hoverable">Basketball</div>
            <div class="chip blue white-text hoverable">Photography</div>
            <div class="chip blue white-text hoverable">Legos</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="related" class="col s12 desc">
      <hr>
      <h2 class="light">Related minds</h2>

      <div class="col l3 m6 s12">
          <div class="related hoverable">
            <img class="tooltipped" src="assets/img/steve-jobs.jpg" alt="Steve Jobs" data-position="top" data-delay="50" data-tooltip="Visionnary">
            <span>Steve Jobs</span>
          </div>
        </div>
      <div class="col l3 m6 s12">
        <div class="related hoverable">
          <img class="tooltipped" src="assets/img/kanye-west.jpg" alt="Kanye West" data-position="top" data-delay="50" data-tooltip="Multi-skilled">
          <span>Kanye West</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="related hoverable">
          <img src="assets/img/elon-musk.jpg"  class="tooltipped" alt="Elon Musk" data-position="top" data-delay="50" data-tooltip="Entrepreneur">
          <span>Elon Musk</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="related hoverable">
          <img src="assets/img/russell-westbrook.jpg"  class="tooltipped" alt="Russell Westbrook" data-position="top" data-delay="50" data-tooltip="Determination">
          <span>Russell Westbrook</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="social" class="col s12 desc">
      <hr>
      <h2 class="light">Connect</h2>

      <div class="col l3 m6 s12">
        <div class="related hoverable">
          <a href="https://goo.gl/UlPaE8" title="Valérian Polizzi on Linkedin" alt="Valérian Polizzi on LinkedIn">
            <img src="assets/img/linkedin.png"  class="tooltipped" alt="Linkedin" data-position="top" data-delay="50" data-tooltip="590 Connections">
          </a>
          <span>LinkedIn</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="related hoverable">
          <a href="https://goo.gl/WsrCxY" target="_blank" title="Polyeezy on Instagram" alt="Polyeezy on Instagram">
            <img class="tooltipped" src="assets/img/instagram.png" alt="Instagram" data-position="top" data-delay="50" data-tooltip="620 Followers">
          </a>
          <span>Instagram</span>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="related hoverable">
          <a href="https://goo.gl/6VUmpN" title="Polyeezy on Twitter" alt="Polyeezy on Twitter">
          <img class="tooltipped" src="assets/img/twitter.png" alt="Twitter" data-position="top" data-delay="50" data-tooltip="234 Followers">
          </a>
          <span>Twitter</span>
        </div>
      </div>

      <div class="col l3 m6 s12">
        <div class="related hoverable">
          <a href="https://goo.gl/J5uNMY" title="Polyeezy on Github" alt="Polyeezy on Github">
            <img src="assets/img/github.png"  class="tooltipped" alt="Github" data-position="top" data-delay="50" data-tooltip="20 Repositories">
          </a>
          <span>Github</span>
        </div>
      </div>
    </div>
  </div>


</div>
