<div id="timeline" class="s12 center-align margin-bottom section scrollspy">
  <p class="flow-text header">
    About <b>Valérian Polizzi</b>
  </p>
</div>

<div class="s12 grey lighten-3 z-depth-2 margin-bottom">
  <div class=" wiki">
    <div class="row">
      <div class="col s12 m6 desc">

        <h2 class="light flow-text"><b>Valérian Polizzi</b> (<a href="https://en.wikipedia.org/wiki/Help:IPA/English" target="_blank" title="Help:IPA/English">/vəˈlɪriːən/</a>, known as <i>Polyeezy</i> on social medias, born April 7, 1994)</h2>
        <img  src="/assets/img/valerian-polizzi.png" title="Valérian Polizzi" title="Valérian Polizzi" class="circle responsive-img center-align hoverable hide-on-med-and-up" alt="">

        <div class="valign-wrapper center-align">
          <p>
            is a developper. Born in
            <a href="https://goo.gl/maps/9qUJB5zHGwo" target="_blank">Cagnes-sur-Mer</a> and raised in <a href="https://goo.gl/maps/Vpt3a5ndg3s" title="Biot in Google Maps">Biot</a>, Valérian attended
            <a href="http://www.epitech.eu/" title="Epitech website" target="_blank">Epitech</a> Computer Software Engineering (2013) , a private institution of higher education in general computer science.
            Polyeezy completed his bachelor degree in Computer Software Engineering as he heading in <a href="https://goo.gl/maps/MFJnRc5D1Mu" title="Brussel in Google Maps" alt="Brussel in Google Maps">Brussel</a>, to pursue a program focusing on innovation and entrepreneurship.
          </p>
        </div>

        <div class="infos hide-on-med-and-down">
          <div class="row">
            <div class="col s4 label">Born</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">Valérian Jean Valentin Polizzi</div>
              <div class="chip blue white-text hoverable">7 April 1994 (age 23)</div>
              <div class="chip blue white-text hoverable">Cagnes-sur-mer, France</div>
            </div>
          </div>

          <div class="row">
            <div class="col s4 label">Résidence</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">Biot, France</div>
            </div>
          </div>

          <div class="row">
            <div class="col s4 label">Occupation</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">IT development</div>
              <div class="chip blue white-text hoverable">Freelancer</div>
            </div>
          </div>

          <div class="row">
            <div class="col s4 label">Hobbies</div>
            <div class="col s8 value"><div class="chip blue white-text hoverable">Music</div>
              <div class="chip blue white-text hoverable">Basketball</div>
              <div class="chip blue white-text hoverable">Photography</div>
              <div class="chip blue white-text hoverable">Legos</div>
            </div>
          </div>
        </div>


      </div>
      <div class="col side s6 ">
        <div class=" grey lighten-3">
          <img src="/assets/img/valerian-polizzi.png" title="Valérian Polizzi" title="Valérian Polizzi" class="responsive-img center-align hoverable hide-on-small-only" alt="">
        </div>
      </div>
    </div>
      <div class="container infos show-on-medium-and-down hide-on-large-only">
        <div class="row">
          <div class="col s4 label">Born</div>
          <div class="col s8 value">
            <div class="chip blue white-text hoverable">Valérian Jean Valentin Polizzi</div>
            <div class="chip blue white-text hoverable">April 7 1994 (age 23)</div>
            <div class="chip blue white-text hoverable">Cagnes-sur-mer, FR</div>
          </div>

          <div class="row">
            <div class="col s4 label">Résidence</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">Biot, France</div>
            </div>
          </div>

          <div class="row">
            <div class="col s4 label">Occupation</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">IT development</div>
              <div class="chip blue white-text hoverable">Freelancer</div>
            </div>
          </div>

          <div class="row">
            <div class="col s4 label">Hobbies</div>
            <div class="col s8 value">
              <div class="chip blue white-text hoverable">Music</div>
              <div class="chip blue white-text hoverable">Basketball</div>
              <div class="chip blue white-text hoverable">Photography</div>
              <div class="chip blue white-text hoverable">Legos</div>
            </div>
          </div>
        </div>
    </div>
</div>
