<div id="timeline" class="s12 center-align margin-bottom section scrollspy">
  <p class="flow-text">
    TIMELINE  </p>
</div>

<div class="s12 z-depth-2 center-align margin-bottom">
<div class="container">
  <div class="timeline">
    <div class="timeline-event">
      <div class="card timeline-content">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.academyplus.eu/images/help/gallery3.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Bachelor in Computer Software Engineering</span>
          <p><a href="#">2017</a></p>
        </div>
      </div>
      <div class="timeline-badge blue white-text"><i class="material-icons">star</i></div>
    </div>

    <div class="timeline-event">
      <div class="card timeline-content">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://pbs.twimg.com/profile_images/492329910208172032/plYgPvuC_400x400.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Intern at Instant System<i class="material-icons right">more_vert</i></span>
          <p><a href="#">April - August 2017</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Instant System<i class="material-icons right">close</i></span>
          <p>My internship was initially to migrate a carpooling site developed in TYPO3 to wordpress. This migration involves the integration of a graphic chart and the development of an administrator interface.</p>
          <div class="chip">Wordpress</div>
          <div class="chip">Bootstrap</div>
          <div class="chip">Swagger</div>
          <div class="chip">Sketch</div>
          <div class="chip">Kibana</div>
          <div class="chip">Jenkins</div>
        </div>
      </div>
      <div class="timeline-badge red white-text"><i class="material-icons">work</i></div>
    </div>

    <div class="timeline-event">
      <div class="card timeline-content">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/img/barde.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Barde.io<i class="material-icons right">more_vert</i></span>
          <p><a href="#">February 2017</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Barde<i class="material-icons right">close</i></span>
          <p>
            In order to promote our EIP (Epitech Innovate Project), I realized the site www.barde.io in respect of a graphic charter.
            Developed with the AngularJs framework, this showcase includes integrations allowing enrollment in a newletter and a contact form protected by a Captcha system.
          </p>
          <div class="chip">AngularJs</div>
          <div class="chip">Newsletter</div>
          <div class="chip">Captcha</div>
          <div class="chip">Translation</div>
        </div>
      </div>
      <div class="timeline-badge red white-text"><i class="material-icons">work</i></div>
    </div>


    <div class="timeline-event">
      <div class="card timeline-content">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/img/hackapomier.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Hackaton - E-Pompier<i class="material-icons right">more_vert</i></span>
        <p><a href="#">May 2016</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Hackaton - E-Pompier<i class="material-icons right">close</i></span>
          <p>
            Having contributed to a Hackathon organized by Epitech, my role was to create a tool to facilitate the management of stock within a fire station. With this solution, the user can dynamically add and remove an object from a database and have an overview of the current stock.
          </p>
          <div class="chip">AngularJs</div>
          <div class="chip">Material</div>


        </div>
      </div>
      <div class="timeline-badge red white-text"><i class="material-icons">work</i></div>
    </div>

    <div class="timeline-event">
      <div class="card timeline-content">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/img/Prolinked-16x9.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Prolinked.fr<i class="material-icons right">more_vert</i></span>
          <p><a href="#">January - August 2016</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Prolinked.fr<i class="material-icons right">close</i></span>
          <p>In order to materialize the idea of two business school students,
            I initially realized a pre-launch page of the service. Subsequently, I was able to create an authentication system
            (Registration, login, profile management) combined with a system of SMS verification and automated e-mail sending.</p>
          <div class="chip">PHP</div>
          <div class="chip">MySQL</div>
          <div class="chip">SMS</div>

        </div>
      </div>
      <div class="timeline-badge red white-text"><i class="material-icons">work</i></div>
    </div>

    <div class="timeline-event">
      <div class="card timeline-content">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/img/sochic-16x9.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Intern at Sochicbijoux<i class="material-icons right">more_vert</i></span>
          <p><a href="#">September - December 2015</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Sochicbijoux.fr<i class="material-icons right">close</i></span>
          <p>The first part of my 2nd year internship at EPITECH consisted of optimizing the daily update of elements in a database. Subsequently, I was able to completely rebuild an e-commerce website.
            The front end includes authentication, display of products in their categories, presentation of a retail item, addition to the shopping cart and integration of a payment module.
            For the back-end part, I was able to develop a module for generating invoices and a voucher system, allowing to change the status of orders made on the site (Sent / Paid / Shipped ..)</p>
          <div class="chip">PHP</div>
          <div class="chip">MySQL</div>
          <div class="chip">Bootstrap</div>


        </div>
      </div>
      <div class="timeline-badge red white-text"><i class="material-icons">work</i></div>
    </div>

    <div class="timeline-event">
      <div class="card timeline-content">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.academyplus.eu/images/help/gallery3.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Started Epitech Computer Software Engineering School</span>
          <p><a href="#">2013</a></p>
        </div>
      </div>
      <div class="timeline-badge blue white-text"><i class="material-icons">star</i></div>
    </div>
  </div>
</div>
</div>
