<div id="timeline" class="s12 center-align margin-bottom section scrollspy">
  <p class="flow-text header">
  Social
</div>

<div class="s8 z-depth-2 center-align margin-bottom">

<div class="row">
  <div class="col s8 offset-s2">

    <div class="closet-container">
      <ul id="scene" class="scene" >
        <li class="layer" id="shirt-1" data-depth="3">
          <img src="assets/img/shirts/shirt.png">
        </li>
        <li class="layer" id="shirt-2" data-depth="3.2">
          <img src="assets/img/shirts/shirt.png">
        </li>
    </ul>
  </div>
</div>


<!--
  <div id="closet row">
    <div class="col s8 red">
      <div class="float-right">
        <div class="" id="social-closet">
          <ul id="scene" class="scene" >
            <li class="layer" data-depth="2.2"><img src="assets/img/shirts/shirt.png"></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
-->
</div>
