<div id="about" class="s12 center-align margin-bottom section scrollspy">
  <p class="flow-text header">
   Valérian's Workflow
  </p>
</div>

<div class="s12 grey lighten-3 z-depth-2 margin-bottom">
  <div class="row">
    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="https://marvelapp.com/a9i0jje"><img src="http://valerianpolizzi.fr/workflow/assets/img/streetr-proto.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Streetr - Prototype</span>
          <div class="chip blue white-text">Proto iOS</div>
          <div class="chip white-text green">2018</div>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="https://fr.slideshare.net/secret/7SEZo5E0ndy6q3"><img src="http://valerianpolizzi.fr/workflow/assets/img/is-report.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Instant System</span>
          <div class="chip blue white-text">PPT</div>
          <div class="chip white-text green">2017</div>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="https://rprocovoiturage.boogi.fr/"><img src="http://valerianpolizzi.fr/workflow/assets/img/rpro.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">R'pro'Covoiturage</span>
          <div class="chip blue white-text">Web</div>
          <div class="chip white-text green">2017</div>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="http://213.32.64.244/comparatif-assurances/"><img src="http://valerianpolizzi.fr/workflow/assets/img/comparatif.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Comparatif Assurance</span>
          <div class="chip blue white-text">Web</div>
          <div class="chip white-text green">2017</div>
        </div>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="https://fr.slideshare.net/ValrianPOLIZZI/soutenance-stage-epitech-valrian-polizzi-zipa"><img src="http://valerianpolizzi.fr/workflow/assets/img/report-sochic.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Sochic Bijoux - Report</span>
          <div class="chip blue white-text">PPT</div>
          <div class="chip white-text green">2016</div>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="http://sochicbijoux.com/"><img src="http://valerianpolizzi.fr/workflow/assets/img/sochic.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Sochic Bijoux</span>
          <div class="chip blue white-text">Web</div>
          <div class="chip white-text green">2016</div>
        </div>
      </div>
    </div>


    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="http://valerianpolizzi.fr/workflow/web/KanyeToTheBruh"><img src="http://valerianpolizzi.fr/workflow/web/KanyeToTheBruh/screenshot.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">KanyeToTheBruh</span>
          <div class="chip blue white-text">Web</div>
          <div class="chip white-text green">2015</div>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="http://valerianpolizzi.fr/workflow/web/sliding-closet/index.html"><img src="http://valerianpolizzi.fr/workflow/web/sliding-closet/screenshot.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Social Closet</span>
          <div class="chip blue white-text">Web</div>
          <div class="chip white-text green">2014</div>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="https://www.youtube.com/watch?v=KSj8x77fkcA"><img src="http://valerianpolizzi.fr/workflow/assets/img/polyeezy.png"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Polyeezy - Intro</span>
          <div class="chip blue white-text">After effects</div>
          <div class="chip white-text green">2014</div>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="http://valerianpolizzi.fr/workflow/web/www.dadzcover.com/index.html">

            <img src="http://valerianpolizzi.fr/workflow/web/www.dadzcover.com/screenshot.png">
          </a>

        </div>

        <div class="card-content">
          <span class="card-title">Dadzcover</span>
          <div class="chip blue white-text">web</div>
          <div class="chip white-text green">2011</div>
          <p><b>Disclaimer</b>: "Responsive" was not yet in the dictionary. It's 2011</p>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-image hoverable">
          <a target="_blank" href="https://www.newgrounds.com/portal/view/501467">

            <img src="http://valerianpolizzi.fr/workflow/assets/img/mpc_kanye.png">
          </a>

        </div>

        <div class="card-content">
          <span class="card-title">Kanye West's MPC : LLD</span>
          <div class="chip blue white-text">Flash</div>
          <div class="chip white-text red">Perso</div>
          <div class="chip white-text green">2009</div>
        </div>
      </div>
    </div>

  </div>
</div>

