<div id="75-height" class="section 75-height valign-wrapper greyr lighten-3  z-depth-1">
  <div class="container">
    <h1 id="NameFromLeft" class="valign center blue-text animated slideInLeft light topped-nav">Valérian Polizzi</h1>
    <h2 id="DescFromRight" class="valign center animated slideInRight handwritten">Digital Manufacturer</h2>
  </div>

</div>

<div class="container grey lighten-4 center-align margin-bottom red">
  <p class="flow-text">
Étudiant en 3ème année à Epitech Nice, parallèlement auto-entrepreneur en tant que développeur Web.
  </p>
</div>

<div id="/profil" class="section full-height valign-wrapper grey lighten-5  z-depth-1">
  <div class="container valign">
    <div class="row card-panel white profile-info">
      <div class="col s12 m6 l6">

        <img class="circle responsive-img z-depth-1 hoverable" src="img/logovp-white-300dpi.png" alt="Logo Valérian Polizzi" />

      </div>
      <div class="col s12 m6 l6 center">
        <h1 class="flow-text blue-text center-text blue-text">Valérian Polizzi</h1>
        <h3 class="flow-text black-text center-text"><i>Auto - Entrepreneur | Développeur </i></h3>

        <div class="divider"></div>
        <div class="col  s12 m12 l12 info-content left-align">
          <div class="col bold s4 m4 l4 left"><p>Age</p></div><div class="col right grey-text s8 m8 l8"><p><a href="https://fr.wikipedia.org/wiki/7_avril" target="_blank">22</a></p></div>
            <div class="col bold s4 m4 l4 left"><p>Adresse</p></div><div class="col grey-text s8 m8 l8"><p><a href="https://goo.gl/maps/Pg3tJjhnxxK2" target="_blank">60 Avenue Jean Médecin, Nice</a></p></div>
            <div class="col bold s4 m4 l4 left"><p>Email</p></div><div class="col grey-text s8 m8 l8"><p><a href="mailto:valerian.polizzi@epitech.eu">valerian.polizzi@epitech.eu</a></p></div>
            <a href="misc/CV-Valerian-Polizzi-2016.pdf" download="CV-Valerian-Polizzi-2016.pdf" class="waves-effect waves-light btn red"><i class="material-icons left">file_download</i>Télécharger CV</a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container grey lighten-4 center-align margin-bottom red">
  <p class="flow-text">Mon cursus scolaire m’a permis d’élargir mes compétences en
                      informatique et d’aquérir une facilité d’adaptation au sein d’une équipe de travail. Ma personnalité m'offre une ouverture d'esprit, une volonté de me distinguer et d'innover. </p>
</div>

<script type="text/javascript" src="js/home.js">
