<div id="/competences"  class="section full-height valign-wrapper grey lighten-5 spyr-scroll z-depth-2">
  <div id="competences" class="animated fadeOutDown container center-align">
    <h2 class="flow-text bold ">Compétences</h2>
    <div class="row card-panel white">
      <div class="col s4 m4 l4">
        <h3 class="flow-text">Languages</h3>
        <div class="chip hoverable blue animatede bounce white-text">C</div>
        <div class="chip hoverable blue white-text">C++</div>
        <div class="chip hoverable blue white-text">Javascript</div>
        <div class="chip hoverable blue white-text">PHP</div>
      </div>
      <div class="col s4 m4 l4">
        <h3 class="flow-text">Frameworks</h3>
        <div class="chip hoverable blue white-text">AngularJs</div>
        <div class="chip hoverable blue white-text">NodeJs</div>
        <div class="chip hoverable blue white-text">jQuery</div>
        <div class="chip hoverable blue white-text">Materialize.css</div>
        <div class="chip hoverable blue white-text">Bootstrap</div>
      </div>
      <div class="col s4 m4 l4">
        <h3 class="flow-text">BDD</h3>
        <div class="chip hoverable blue white-text">MongoDB</div>
        <div class="chip hoverable blue white-text">MySql</div>
      </div>
    </div>
  </div>
</div>
