<div class="container grey lighten-4 center-align">
  <h2 class="flow-text blue-text">Social</h2>

  <p class="flow-text">
Mon activité sur les réseaux sociaux</div>

<div id="/social" class="section  valign-wrapper grey lighten-5 spyscroll">
  <div id="social" class="animated container center-align">
    <div class="row">
      <div class="col s12 m12 l6">
        <div class=" card-panel blue lighten-2">
          <a class="white-text flow-text"href="https://goo.gl/6VUmpN" target="_blank">Twitter</a>
          <div class="divider"></div>
            <p class="flow-text">
              {{TwitterContent}}
            <a href="{{InstagramPostUrl}}" target="_blank">
              <img src="{{TwitterImg}}" class="responsive-img hoverable" alt="Dernier Post Instagram" />
            </a>
            </p>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class=" card-panel brown">
          <a href="https://goo.gl/WsrCxY" class="flow-text orange-text"target="_blank">Instagram</a>
          <div class="divider"></div>
          <p class="flow-text">

          <a href="{{InstagramPostUrl}}" target="_blank">
            <img src="{{InstagramPostImgUrl}}" class="responsive-img hoverable" alt="Dernier Post Instagram" />
          </a>
          </p>
          <a class="waves-effect waves-light btn orange" href="https://goo.gl/WsrCxY" target="_blank">Voir le profil</a>

          <button class="waves-effect waves-light btn brown"><i class="material-icons left">thumb_up</i>{{InstagramPostLikesCount}}</button>


        </div>
      </div>


      <div class="col s12 m12 l6">
        <div class=" card-panel tumblrBackground">
        <a class="white-text flow-text" href="https://goo.gl/WsrCxY" target="_blank">Tumblr</a>
          <div class="divider"></div>
          <p class="flow-text">
            <a href="{{TumblrPostUrl}}" target="_blank">
              <img src="{{TumblrImg}}" class="responsive-img hoverable"alt="Last Tumblr Post" />
            </a>
          </p>
          <a class="waves-effect waves-light grey tumblrColor btn" href="{{TumblrBlogUrl}}" target="_blank">Voir le tumblr</a>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/page.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
